*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f4f4;
}

nav{
    background:#111;
    color:white;
    display:flex;
    justify-content:space-between;
    padding:20px;
}

nav ul{
    display:flex;
    gap:20px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:white;
}

.btn{
    margin-top:20px;
    padding:12px 25px;
    background:#007bff;
    color:white;
    border:none;
    cursor:pointer;
}

section{
    padding:50px;
}

.card{
    background:white;
    padding:20px;
    margin-top:15px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

form{
    display:flex;
    flex-direction:column;
    gap:10px;
}

input,
textarea{
    padding:10px;
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}
